<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="$ADDON[screensaver.titan.bingie.mod 32000]">
        <setting type="action" label="$ADDON[screensaver.titan.bingie.mod 32001]" option="close" action="RunScript(screensaver.titan.bingie.mod, mode=choose)" />
        <setting type="action" label="$ADDON[screensaver.titan.bingie.mod 32002]" option="close" action="RunScript(screensaver.titan.bingie.mod, mode=label)" enabled="!eq(1,)" />
    </category>
</settings>

